@font-face {
  font-family: 'fontello';
  src: url('font/fontello.eot?16265483');
  src: url('font/fontello.eot?16265483#iefix') format('embedded-opentype'),
       url('font/fontello.woff?16265483') format('woff'),
       url('font/fontello.ttf?16265483') format('truetype'),
       url('font/fontello.svg?16265483#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?16265483#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-quote-left:before { content: '\e800'; } /* '' */
.icon-quote-right:before { content: '\e801'; } /* '' */
.icon-quote-left-alt:before { content: '\e802'; } /* '' */
.icon-quote-right-alt:before { content: '\e803'; } /* '' */
.icon-record-outline:before { content: '\e804'; } /* '' */
.icon-record:before { content: '\e805'; } /* '' */
.icon-emo-shoot:before { content: '\e806'; } /* '' */
.icon-emo-coffee:before { content: '\e807'; } /* '' */
.icon-emo-beer:before { content: '\e808'; } /* '' */
.icon-crown:before { content: '\e809'; } /* '' */
.icon-spin5:before { content: '\e80a'; } /* '' */
.icon-spin1:before { content: '\e80b'; } /* '' */
.icon-paper-plane:before { content: '\e80c'; } /* '' */
.icon-flash:before { content: '\e80d'; } /* '' */
.icon-cloud:before { content: '\e80e'; } /* '' */
.icon-sun:before { content: '\e80f'; } /* '' */
.icon-toggle-off:before { content: '\e810'; } /* '' */
.icon-toggle-on:before { content: '\e811'; } /* '' */
.icon-linkedin:before { content: '\e812'; } /* '' */
.icon-facebook:before { content: '\e813'; } /* '' */
.icon-heart:before { content: '\e814'; } /* '' */
.icon-heart-empty:before { content: '\e815'; } /* '' */
.icon-lamp:before { content: '\e816'; } /* '' */
.icon-chart-outline:before { content: '\e817'; } /* '' */
.icon-list-nested:before { content: '\e818'; } /* '' */
.icon-campsite:before { content: '\e819'; } /* '' */
.icon-london-underground:before { content: '\e81a'; } /* '' */
.icon-harbor:before { content: '\e81b'; } /* '' */
.icon-html5:before { content: '\e81c'; } /* '' */
.icon-github:before { content: '\e81d'; } /* '' */